In [1]:
import pandas as pd
from datetime import date
from random import choices, randint, choice

from init import item_codes, warehouse_codes, start_date, number_of_outbounds

In [2]:
current_date = start_date
current_SO_number = 1
current_SO_item_number = 1
outbound_frequency = 0.1 # the higher this number, the less frequently goods is sold in a day
combined_SO_frequency = 0.9 # the lower this number, the more items are combined in a SO

outbounds = []
for i in range(number_of_outbounds):

    # New date?
    if choices(population=[True,False],weights=[outbound_frequency, 1 - outbound_frequency])[0]:
        current_date = current_date + pd.DateOffset(days=1)

    # New SO?
    if choices(population=[True,False],weights=[combined_SO_frequency, 1 - combined_SO_frequency])[0]:
        current_SO_number += 1
        current_SO_item_number = 1
    zeros = "0"*(3-len(str(current_SO_number)))
    SO_number = 'SO' + zeros + str(current_SO_number)
    SO_item_number = SO_number + '-' + str(current_SO_item_number)
    current_SO_item_number += 1

    # Select a random Item sold outbound
    item_outbound = choice(item_codes)

    # Select a random Warehouse outbound from
    warehouse_outbound = choice(warehouse_codes)

    outbounds.append([SO_item_number,SO_number,current_date,warehouse_outbound,item_outbound,randint(1,100)*10])

df = pd.DataFrame(outbounds,columns=["Element_Code","Element_Number","Date","Warehouse_Code","Item_Code","Outbound_Amount"])
df["Date"] = pd.to_datetime(df["Date"])
df

,Element_Code,Element_Number,Date,Warehouse_Code,Item_Code,Outbound_Amount
0,SO001-1,SO001,2025-01-01,WH001,Item010,640
1,SO001-2,SO001,2025-01-01,WH002,Item013,680
2,SO002-1,SO002,2025-01-01,WH001,Item009,490
3,SO003-1,SO003,2025-01-02,WH003,Item001,940
4,SO003-2,SO003,2025-01-02,WH003,Item008,630
...,...,...,...,...,...,...
95,SO085-1,SO085,2025-01-11,WH002,Item010,970
96,SO086-1,SO086,2025-01-11,WH003,Item014,50
97,SO087-1,SO087,2025-01-11,WH002,Item001,400
98,SO087-2,SO087,2025-01-11,WH003,Item004,60
99,SO088-1,SO088,2025-01-11,WH001,Item004,810

In [3]:
import os

# Ensure the target directory exists before saving the file
os.makedirs("../Datasets", exist_ok=True)

# Save DataFrame as CSV into existing directory
df.to_csv("../Datasets/Outbound.csv", index=False)